* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0px;
  background: white;
}

nav {
  min-height: 10vh;
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1,
nav ul {
  font-size: 1rem;
  flex: 1;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
nav a {
  color: black;
  text-decoration: none;
}

h2 {
  font-weight: bold;
}
h2,
p {
  color: black;
  font-weight: 500;
  opacity: 0.8;
}
h3 {
  color: black;
  font-weight: 600;
  opacity: 0.8;
  font-size: 0.7rem;
}

main {
  font-family: "Handlee", cursive;
  min-height: 100vh;
  background: linear-gradient(to right top, #000000, #434343);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}

.network {
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
  list-style: none;
}
.network h2 {
  padding: 0rem 2rem;
  font-size: 0.7rem;
}

.pages :hover {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}
.page {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  margin: 1rem 0rem;
  padding: 1rem;
  box-shadow: 4px 4px 15px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
}
